<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEDEX</title>
    <%- include("import.ejs") %>
</head>
<body>
    <h1>POKEDEX</h1>
    
    <ul>
        <% for(let i = 0; i < pokemons.length; i++){ %>
            <li>Name:<a href="/pokemon/<%= i %>"><%= pokemons[i].name %></a></li>
            <img src="<%= pokemons[i].img %>" alt="Pokemon image">
        <% } %>
</body>
</html>