<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEDEX</title>
    <%- include("import.ejs") %>
</head>
<body>
    
    <h2>Add a new Pokemon</h2>
    <form action="/pokemon/new" method="post">
        <input type="text" name="name" placeholder="name of Pokemon"/>
        <input type="image" name="image"/>
        <input type="text" name="type" placeholder="type of Pokemon"/>
        <input type="text" name="HP" placeholder="HP of Pokemon"/>
        <input type="text" name="Attack" placeholder="Attack of Pokemon"/>
        <input type="text" name="Defense" placeholder="Defense of Pokemon"/>
        <input type="submit" value="Add Pokemon"/>
    </form>
</body>
</html>